.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border {
  border: 1px solid black;
}


.circle1 {
  transform-origin: center;
  rotate: 15deg;
  stroke: red; 
  fill: none;
  stroke-width: 3px;
  stroke-dasharray: 290;
  stroke-dashoffset: 161;
}

.circle2 {
  transform-origin: center;
  rotate: 195deg;
  stroke: blue; 
  fill: none;
  stroke-width: 3px;
  stroke-dasharray: 290;
  stroke-dashoffset: 161;
}