@import './global.scss';

.list-card {
  height: 100px;
  opacity: 0;
  animation: appearance 250ms ease-in-out forwards;
  display: flex;

  > section {
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      flex: 80;
      justify-content: flex-start;
      position: relative;
    }

    &:nth-child(2) {
      flex: 20;
    }
  }
}

.no-animation {
  opacity: 1;
  animation: none;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.list-card__stripe {
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: 120%;
  height: 1px;
  background-color: $primaryColor;
}

.list-card__btn {
  width: 30px;
  height: 30px;
  position: relative;

  > div {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 4px;
    background-color: $primaryColor;
    transition: 700ms;

    &::before {
      content: '';
      position: absolute;
      top: -200%;
      width: 100%;
      height: 4px;
      background-color: $primaryColor;
      transition: 700ms;
    }

    &::after {
      content: '';
      position: absolute;
      top: 200%;
      width: 100%;
      height: 4px;
      background-color: $primaryColor;
      transition: 700ms;
    }
  }

  &:hover {
    > div {
      background-color: $secondaryColor;

      &::before {
        background-color: $secondaryColor;
      }

      &::after {
        background-color: $secondaryColor;
      }
    }
  }
}

.list-card__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-position: top;
  object-fit: cover;
  margin-left: 15px;
}

.list-card__data-list {
  margin-left: 15px;
  @include font;

  > li {
    &:nth-child(1) {
      font-weight: 800;
    }
  }
}

.sth {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  position: absolute;
  background-color: red;
  scale: 0.3;
  visibility: hidden;
  opacity: 0;
  transition: all 1000ms;
}

.open {
  visibility: visible;
  scale: 1;
  opacity: 1;
}

